
.bg{
    height:300px;
    background: url('../../../assets/img/login.jpg') no-repeat scroll -452px -200px;
}
.linear-gradient{
    height:200px;
    background-image: linear-gradient(180deg,red 0% ,blue 25% ,yellow 50% , green 75%  ,red 100%)
}
.font{
    font: italic small-caps bold 22px "microsoft yahei";
}