.g-dialog-container {
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }
  .g-dialog-container .dialog-window {
    width: 15rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.9s cubic-bezier(0.43, -0.14, 0.34, 1.6); }
    .g-dialog-container .dialog-window .dialog-header {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border: 2px solid #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .g-dialog-container .dialog-window .dialog-header.ok:after {
        content: '';
        display: block;
        width: 30px;
        height: 10px;
        border: 2px solid #fff;
        border-width: 0 0 2px 2px;
        transform: rotate(-50deg); }
      .g-dialog-container .dialog-window .dialog-header.warning {
        transform: rotate(90deg); }
        .g-dialog-container .dialog-window .dialog-header.warning:before {
          content: '';
          display: block;
          width: 20px;
          height: 5px;
          background: #fff;
          margin-right: 5px; }
        .g-dialog-container .dialog-window .dialog-header.warning:after {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #fff; }
      .g-dialog-container .dialog-window .dialog-header.waiting:before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: yellow;
        border-radius: 50%;
        animation: waiting1 0.8s infinite; }
      .g-dialog-container .dialog-window .dialog-header.waiting:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: red;
        border-radius: 50%;
        animation: waiting2 0.8s infinite; }
    .g-dialog-container .dialog-window .dialog-content {
      padding: 1rem 1rem 0;
      text-align: center; }
    .g-dialog-container .dialog-window .dialog-footer {
      padding: 1rem 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .g-dialog-container .dialog-window .dialog-footer button {
        background: rgba(255, 255, 255, 0.8);
        border: none;
        padding: 0.8rem 1.8rem;
        margin: 0.3rem;
        text-shadow: #666 1px 1px;
        outline: none;
        border-radius: 5px;
        color: #eee; }
        .g-dialog-container .dialog-window .dialog-footer button.green {
          background-color: #0f8f0f; }
          .g-dialog-container .dialog-window .dialog-footer button.green:hover {
            background-color: #0a610a; }
          .g-dialog-container .dialog-window .dialog-footer button.green:active {
            background-color: #1de71d; }
        .g-dialog-container .dialog-window .dialog-footer button.red {
          background-color: #8f0f0f; }
          .g-dialog-container .dialog-window .dialog-footer button.red:hover {
            background-color: #610a0a; }
          .g-dialog-container .dialog-window .dialog-footer button.red:active {
            background-color: #e71d1d; }
        .g-dialog-container .dialog-window .dialog-footer button.blue {
          background-color: #39b9c6; }
          .g-dialog-container .dialog-window .dialog-footer button.blue:hover {
            background-color: #2e949e; }
          .g-dialog-container .dialog-window .dialog-footer button.blue:active {
            background-color: #88d5dd; }

@keyframes waiting1 {
  0% {
    transform: translate(-5px 0); }
  50% {
    transform: translate(10px, 0); }
  100% {
    transform: translate(-5px, 0); } }
@keyframes waiting2 {
  0% {
    transform: translate(5px, 0); }
  50% {
    transform: translate(-10px, 0); }
  100% {
    transform: translate(5px, 0); } }

/*# sourceMappingURL=dialog.component.css.map */
