<div class="g-dialog-container" *ngIf="visible">
   <div class="dialog-window">
     <div ngClass="dialog-header" [class]="styleClass"></div>
     <div class="dialog-content" [innerHTML]="message"></div>
     <div class="dialog-footer" *ngIf="footer">
       <ng-content select="xxd-footer"></ng-content>
     </div>
     <div class="dialog-footer" *ngIf="!footer">
       <button ngClass="red" (click)="accept()">{{okLabel}}</button>
       <button ngClass="green" (click)="reject()">{{offLabel}}</button>
     </div>
   </div>
</div>

