<nav>
  <ul>
    <li>
      <a routerLink="" [class.actived]="currentUrl ==='/'">
        <i class="pi pi-home"></i>
      </a>
    </li>
    <li>
      <a routerLink="linkage" [class.actived]="currentUrl ==='/linkage'">
        <i class="pi pi-circle-off"></i>
      </a>
    </li>
    <li>
      <a routerLink="cabient" [class.actived]="currentUrl ==='/cabient'">
        <i class="pi pi-th-large"></i>
      </a>
    </li>
    <li>
      <a routerLink="form" [class.actived]="currentUrl ==='/form'">
        <i class="pi pi-pencil"></i>
      </a>
    </li>
  </ul>
</nav>
