<div>
  <textarea pInputTextarea></textarea>
</div>
<div class="upload-warp">
  <input type="file" class="upload-pic" (change)="imageUpload($event)" #file accept="image/*">
  <i class="pi pi-plus upload-icon"></i>
  <span class="upload-text">本地上传图片</span>
</div>
<div class="img-container">
  <div class="img-row" *ngFor="let file of files;let i = index;">
    <div>
      <img  *ngIf="isImage(file)" [src]="file.objectURL" (load)="compressImage($event.target)" width="100" alt="暂无图片">
    </div>
    <div>
      <i class="pi pi-times" (click)="remove($event,i)"></i>
    </div>
  </div>
</div>
<canvas #view ></canvas>
<div>缘到聚时终会有</div>
<div>来自前生今世求</div>
<div>是情是爱心自现</div>
<div>你我相逢灵犀连</div>
<div class="column">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad perspiciatis deleniti facere cum porro delectus officiis atque fuga. Ad deserunt quae tempora accusamus, nesciunt doloremque laboriosam magni reprehenderit assumenda.
</div>
<div id="d1">
  
</div>
<div id="d2">

</div>

<div id="content">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="parent">
  <div class="son"></div>
</div>