/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
//@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
body{
  margin:0;
  font: 12px "microsoft yahei";
  height: 100vh;
}
ul{
   margin:0;
   list-style: none;
   padding:0;
}
i.material-icons{
  cursor: pointer;
}
.container{
  display: grid;
  grid-template-columns: 80px auto;
  height: 100%;
  #content{
    padding: 30px 50px;
  }
}
.text-align-right{
  text-align: right;
}
